:root {
  --Violet: hsl(257, 40%, 49%);
  --Magenta: hsl(300, 69%, 71%);
  --poppins: "Poppins", sans-serif;
  --open-sans: "Poppins", sans-serif;
}


body {
  width: 100%;
  margin: 0;
}
/*
.container {
  background-image: url(/images/bg-desktop.svg);
  background-color: var(--Violet);
  font-family: var(--poppins);
}
*/

* {
  box-sizing: border-box;
}
.grid-container {
  width: 60%;
  font-size: 100%;
  background-image: url(/images/bg-desktop.svg);
  background-size: cover;
  background-color: var(--Violet);
  font-family: var(--poppins);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7rem;
  margin-bottom: auto;
}

a,
:hover,
:active {
  text-decoration: none;
}

.logo {
  width: 10rem;
  padding: 2rem 0 0 2rem;
}
.mockup {
  width: 100%;
  height: auto;
  padding: 2rem;
}
.heading {

  padding: 7.5rem 0 0 2rem;
  font-family: var(--open-sans);
}
h1 {
  font-size: 1.5rem;
  color: white;
}
p {
  font-size: 0.6rem;
  color: white;
  margin-bottom: 1.5rem;
}
.register {
  background-color: white;
  padding: 0.4rem 2rem;
  border-radius: 50px;
  font-size: 0.8rem;
}
.register:hover {
  background-color: var(--Magenta);
  color: aliceblue;
}
.socials {
  width: 2.5rem;
  float: right;
  padding: 0.5rem;
}

.grid-3 {
  grid-column: 1/3;
  padding-right: 2rem;
  padding-bottom: 2rem;
}
ul {
  list-style-type: none;
  width: 5.3rem;
  display: inline;
  justify-content: space-between;
} /*
.grid-3 a {
  display: inline-table;
  justify-content: space-between;
}*/
@media (max-width: 50rem) {
  .grid-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  
  }
  .heading {
   width: 100%;
    
    padding-top: 3rem;
     text-align: center;
    }
  h1, p {
    aline-self: center;
    padding: 0 2rem 0;
  }
  .register {
    padding: 0.4rem 4rem;
  }
  .mockup {
  
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .grid-container {
    display: flex;
    flex-direction: column;
  }
}
